#vimeography-gallery-1.vimeography-bridge .vimeography-thumbnail { border-color: #dadada; } 
#vimeography-gallery-1.vimeography-bridge .vimeography-data h1.vimeography-title { color: #565656; } 
#vimeography-gallery-1.vimeography-bridge .vimeography-data p.vimeography-description { color: #555555; } 
